{% extends "base.html.twig" %}

{% block title %}{{ parent() }}: Accueil {% endblock %} {# parent para recuperar toddo de la pagina madre #}

{% block body %}
    <div class="home-wrapper">
        <h1>Bienvenue <a href="{{ path('app_login') }}">Sign in</a></h1>

        <div>
            <img src="{{ asset('Images/sortir_home.png') }}" alt="sortir" width="500px">
        </div>
    </div>


{% endblock %}
