{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Edit site {% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouveau site</h1>

        <div>
            {{ form(formSite) }}
{#            <label for="edit">Nom du site</label>#}
{#            <input type="text" id="edit" name="edit" placeholder="{{ detail.nom }}"/>#}
{#            <button type="submit"><a href="{{ path('app_sites_') }}">Enregistrer</a></button>#}
        </div>
    </div>

{% endblock %}