{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Sites {% endblock %}

{% block body %}
    <div class="container">
        <h1>Gérer les sites</h1>

        <div>
            <p>Filtrer les sites</p>
            <label for="site-search">Le nom contient:</label>
            <input type="search" id="site-search" name="filter"/>
            <button type="submit">Rechercher</button>
        </div>
        <br>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Ville</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in sites %}
                    <tr>
                        <th>{{ i.nom|upper }}</th>
                        <th><a href="{{ path('app_sites_edit', { id : i.id }) }}">Modifier</a></th>
                        <th>-</th>
                        <th><a href="">Supprimer</a></th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <button type="submit">Ajouter</button>
    </div>
{% endblock %}
