body {
    font-family: 'Anta', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5ee95;
    margin-top: 15vh;
    margin-bottom: 2rem;
}
.header-wrapper {
    position: fixed;
    top: 0;
    background-color: #ada866;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
    color: #10109a;
    text-decoration: none;
}
a:visited {
    color: #10109a; /
}
ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.home-wrapper {
    text-align: center;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
label {
    display: block;
    font-weight: bold;
}
input[type="number"] {
    width: calc(20% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="password"],
input[type="email"],
input[type="text"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10% 30% 50% 70%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
footer {
    position: fixed;
    bottom: 0;
    height: 2rem;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #e8e5ba;
    font-family: 'Anta', sans-serif;
}

.table-container {
    max-height: 200px; /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
}

/* Style du tableau */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Style des cellules du tableau */
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Style des cellules de l'en-tête */
th {
    background-color: #f2f2f2;
}

/* Style des cellules de données alternées */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style des cellules au survol */
tr:hover {
    background-color: #ddd;
}