body {
    font-family: 'Anta', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #f5ee95;*/
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    margin-top: 15vh;
    margin-bottom: 2rem;
}
.header-wrapper {
    position: fixed;
    top: 0;
    background: rgb(218,35,72);
    background: linear-gradient(90deg, rgba(218,35,72,1) 15%, rgba(149,251,63,1) 78%);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
    color: #10109a;
    text-decoration: none;
}
a:visited {
    color: #10109a; /
}
ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.home-wrapper {
    text-align: center;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
label {
    display: block;
    font-weight: bold;
}
input[type="number"] {
    width: calc(20% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="password"],
input[type="email"],
input[type="text"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button.btn.btn-primary,
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10% 30% 50% 70%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;

}
button.btn.btn-primary.btn:hover,
button[type="submit"]:hover {
    background-color: #0056b3;
}
footer {
    position: fixed;
    bottom: 0;
    height: 2rem;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 13%, rgba(253,187,45,1) 55%);
    font-family: 'Anta', sans-serif;
}

.table-container {
    max-height: 200px;
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
    border: 2px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}

#home-page {
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#filter {
    display: flex;
    flex-direction: column;

}

#filter > div {
    margin-bottom: 10px; /* Espacement entre chaque élément */
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.form-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.button-container {
    display: flex;
    justify-content: space-around;
}

.button-container button {
    width: 150px;
    margin: 0 5px;
}

.sortie-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.info-list,
.location-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.info-list li,
.location-list li {
    margin-bottom: 5px;

}


