<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header>

    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Villes</a></li>
            <li><a href="#">Sites</a></li>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Mon Profil</a></li>
            <li><a href="#">Logout</a></li>
{#            <li><a href="#">Login</a></li>#}

        </ul>
    </nav>
    <body>
        {% block body %}{% endblock %}
    </body>

    <footer>
        <div>
            <b>2024 - ENI - AppSortir</b>
        </div>
    </footer>
</html>
